.center_button{
    display: flex;
    justify-content: center;
}

.przycisk{
    background-color: red;
    border: 1px solid black;
    width: 100px;
    height: 40px;
    border-radius: 50%;
    color: white;
    text-align: center;
    cursor: pointer;
}