.square {
    width: 100px;
    height: 100px;
    border:2px solid;
}

.square1{
    background-color: red;
}

.square2{
    background-color: blue;
}

.square3{
    background-color: green;
}

/* .square4{
    background-color:orange;
} */

.square4 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.square5{
    background-color: hotpink;
}

.row{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 25px;
    margin: 25px;
}

.przycisk{
    background-color: red;
    border: 1px solid black;
    width: 100px;
    height: 40px;
    border-radius: 50%;
    color: white;
    text-align: center;
    cursor: pointer;
}