html {
      background-color: rgb(151, 215, 215);
      height: 100vh;
}

body {
      height: 100vh;
      margin: 0;
      font-size: 20px;
}

.main-container {
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
}