html{
  background-color: rgb(105, 103, 107);
}
.nav_h1{
    color: rgb(255, 255, 255);
    font-size: 3vw;
    font-family: "Momo Trust Display" ;
    margin-left: 5%;
}
.nav_links{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-right: 5%;
    gap: 10%;
    align-items: center;
    font-size: 2vw;
    font-family: "Momo Trust Display" ;
}
nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: rgb(128, 128, 128);
    background-size: cover;
    background-repeat: no-repeat;
    
}
.nav_links a {  
  color: white;       
  text-decoration: none;           
}         

.nav_links a:hover {
  transform: scale(1.2);
  transition: transform 0.2s ease, color 0.2s ease;        
}

.nav_links a:visited {
  color: rgb(255, 255, 255); 
}            
.top_data{
  display: flex;
  flex-direction: row;
}
#Korona_description{
  color: white;
  font-size: 3.5vw;
  margin-top: 0;
}
 section.top{
  display: flex;
  flex-direction: column;
  background-color: rgb(118, 118, 118);
  font-family: "Momo Trust Display";
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 3%;
  padding-top: 2%;
  gap: 3%;
  align-items: center;
  background: linear-gradient(to bottom,rgb(128, 128, 128) ,rgb(105, 103, 107),rgb(128, 128, 128) );
}
.top_data{
  display: flex;
  flex-direction: row;
  gap: 3%;
  align-items: center;
}

.text_box_left {
  background-color: rgb(105, 103, 107);
  border-radius: 5%;
  padding: 1%;
  border: 0.3vw solid rgb(255, 255, 255);
  color: rgb(255, 255, 255);
  font-size: 1.2vw;
  box-shadow: 0.7vw 0.7vw 5vw black;
}
.text_box_right {
  background-color: rgb(105, 103, 107);
  border-radius: 5%;
  padding: 1%;
  border: 0.3vw solid rgb(255, 255, 255);
  color: rgb(255, 255, 255);
  font-size: 1.2vw;
  box-shadow: -0.7vw 0.7vw 5vw black;
}
.image_box img {
  width: 40vw;
  height: auto;
  border-radius: 0.8vw;
  border: 0.3vw solid rgb(255, 255, 255);
}

 section.mid{
  background-color: rgb(128, 128, 128);
  color: white;
  display: flex;
  justify-content: space-between;
  font-family: "Momo Trust Display";
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 2%;
  padding-top: 2%;
  gap: 3%;
  align-items: center;
 } 
.przycisk{
  display: flex;
  justify-content: center;
}
.przycisk a:hover {
  transition: transform 0.2s ease, color 0.2s ease;
  transform: scale(1.2);         
}

 button{
  font-size: 0.8vw;
  background-color: rgb(200, 255, 255);
  width: 8vw;
  height: 2vw;
  border-radius: 2vw;
  cursor: pointer;
 }
 footer{
  margin-top: 0%;
  background-color:none ;
 }

 #mountain_name{
  font-size: 1.5vw; 
  text-shadow: 0.2vw 0.2vw black;
 }

 .footer_div{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 5%;
  padding-right: 5%;
 }
 .footer_text_box{
  color: rgb(255, 255, 255);
  font-size: 2vw;
  font-family: "Momo Trust Display";
 }
 
  .footer_info{
  color: white;
  font-size: 1vw;
  font-family: "Arial";
 }

 footer a{
  text-decoration: none;
 }
 footer a:visited{
  color: rgb(255, 255, 255)
 }
 .quiz{
  color: white;
  background-color: rgb(128, 128, 128);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5%;
 }

 .quiz_box{
  display: flex;
  text-align: center;
  flex-direction: column;
  align-items: center;
  background-color: rgb(105, 103, 107);
  width: 40vw;
  border-radius: 4vw;
  padding: 2%;
  border: 0.3vw solid rgb(255, 255, 255);
 }
  .quizbutton{
  font-size: 0.8vw;
  font-weight: bold;
  background-color: rgb(200, 255, 255);
  width: 8vw;
  height: 2vw;
  border-radius: 2vw;
  cursor: pointer;
  transition: transform 0.2s ease, color 0.2s ease;
  margin: 2%;
 }

 .quizbutton:hover {
  transform: scale(1.2);         
}


 .hidden {
  display: none;
}
 
#top_link{
  color: rgb(255, 255, 255);
}

.footer_info a{
  color: white;
}
/* Galeria */

.gallery_back{
  background-color: rgb(128, 128, 128);
  padding: 1%;
}
.gallery_box{
  background-color: rgb(128, 128, 128);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 2%;
  gap: 2%;
  color: rgb(255, 255, 255);
  /* font-weight: bold; */
  font-family: "M PLUS Rounded 1c";
}

.image_background{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(105, 103, 107);
  width: 25vw;
  height: 40vw;
  border-radius: 4vw;
  padding: 2%;
  margin-bottom: 2%;
  border: 0.3vw solid rgb(255, 255, 255);
}
.image_box_gallery{
  width: 25vw;
  height: 30vw;
  border-radius:2vw ;
  overflow: hidden;
}
.image_box_gallery img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}
.image_description{
  text-align: center;
  width: 24vw;
  height: 11vw;
  font-size: 1vw;
}
.video_background{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(105, 103, 107);
  width: 40vw;
  height: 40vw;
  border-radius: 4vw;
  padding: 2%;
  margin-bottom: 2%;
  border: 0.3vw solid rgb(255, 255, 255);
}

.video_box{
  background-color: red;
  width: 42vw;
  height: 30vw;
  border-radius:2vw ;
  overflow: hidden;
  position: relative;
}

.video_box iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 42vw;
  height: 30vw;
  border: none;
}
.video_description{
  font-size: 1vw;
  text-align: center;
  font-family: "M PLUS Rounded 1c";
}

/* KONTAKT */
.kontakt_back{
  background-color: rgb(128, 128, 128);
}
.kontakt_box{
  background-color:rgb(128, 128, 128);
  /* border-radius: 5vw;
  box-shadow: 1vw 1vw 2vw black; */
}
#kontakt_header{
  padding-top: 2%;
  margin-top: 0;
  margin-bottom: 0;
  color: white;
  font-size: 4vw;
  text-align: center;
  font-weight: bold;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.kontakt_data{
  display: flex;
  flex: row;
  padding: 2%;
  justify-content: space-around;
  align-items: center;
  /* background-color: rgb(128, 128, 128); */
}

.data_box{
  display: flex;
  flex-direction: column;
  color: white;
  font-size: 2rem;
  font-weight: bold;
  background-color: rgb(105, 103, 107);
  padding: 1.5%;
  padding-right: 3%;
  padding-left: 3%;
  border-radius: 5rem;
  border: 0.3vw solid white;
  font-family: "M PLUS Rounded 1c"; 
}

#kontakt_text{
  text-shadow: 0.2vw 0.2vw 1vw black;
  font-family: "Momo Trust Display";
}


#kontakt_button :visited{
  text-decoration: none;
  color: black;
}

#kontakt_button {
  color: black;
  text-decoration: none;
}

.kontakt_button {
  display: flex;
  justify-content: center;
}

form{
  display: flex;
  flex-direction: column;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

@media (max-width: 768px) {

  nav {
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 2%;
  }

  .nav_h1 {
    font-size: 6vw;
    margin-left: 0;
  }

  .nav_links {
    font-size: 4vw;
    gap: 5%;
    margin-right: 0;
    flex-wrap: wrap;
    justify-content: center;
  }

  .top_data {
    flex-direction: column;
    text-align: center;
    gap: 5%;
  }

  #Korona_description {
    font-size: 5vw;
  }

  .text_box_left,
  .text_box_right {
    width: 90%;
    font-size: 3.5vw;
  }
  #mountain_name{
    font-size: 3.5vw
  }
  .image_box img {
    width: 90%;
  }

  section.mid {
    flex-direction: column;
    text-align: center;
  }

  button {
    width: 30vw;
    height: 8vw;
    font-size: 3vw;
  }


  .quiz_box {
    width: 90%;
    padding: 5%;
  }

  .quizbutton {
    width: 30vw;
    height: 10vw;
    font-size: 3vw;
  }


  .image_background {
    width: 90vw;
    height: auto;
  }

  .image_box_gallery {
    width: 90vw;
    height: 60vw;
  }

  .video_background {
    width: 90vw;
    height: auto;
  }

  .video_box {
    width: 90vw;
    height: 55vw;
  }

  .footer_div {
    flex-direction: column;
    text-align: center;
    gap: 3%;
  }

  .footer_text_box {
    font-size: 4vw;
  }

  .footer_info {
    font-size: 2.5vw;
  }

  .kontakt_data {
    flex-direction: column;
    gap: 5%;
  }

  .data_box {
    font-size: 4vw;
  }
}
