html{
  background-color: rgb(105, 103, 107);
}
nav{
  display: flex;
  flex-wrap: wrap;
}
.nav_h1{
    color: rgb(255, 255, 255);
    font-size: 3.5rem;
    font-family: "Momo Trust Display" ;
    margin-left: 5%;
}
.nav_links{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-right: 5%;
    gap: 10%;
    align-items: center;
    font-size: 2.5rem;
    font-family: "Momo Trust Display" ;
}
nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: rgb(128, 128, 128);
    background-size: cover;
    background-repeat: no-repeat;
    
}
.nav_links a {  
  color: white;       
  text-decoration: none;           
}         

.nav_links a:hover {
  transform: scale(1.2);
  transition: transform 0.2s ease, color 0.2s ease;        
}

.nav_links a:visited {
  color: rgb(255, 255, 255); 
}            
.top_data{
  display: flex;
  flex-direction: row;
}
#Korona_description{
  color: white;
  font-size: 4rem;
  margin-top: 0;
}
 section.top{
  display: flex;
  flex-direction: column;
  background-color: rgb(118, 118, 118);
  font-family: "Momo Trust Display";
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 3%;
  padding-top: 2%;
  gap: 3%;
  align-items: center;
  background: linear-gradient(to bottom,rgb(128, 128, 128) ,rgb(105, 103, 107),rgb(128, 128, 128) );
}
.top_data{
  display: flex;
  flex-direction: row;
  gap: 3%;
  align-items: center;
}

.text_box_left {
  background-color: rgb(105, 103, 107);
  border-radius: 4rem;
  padding: 1%;
  border: 0.4rem solid rgb(255, 255, 255);
  color: rgb(255, 255, 255);
  font-size: 1.2rem;
  box-shadow: 0.9rem 0.9rem 8rem black;
}
.text_box_right {
  background-color: rgb(105, 103, 107);
  border-radius: 4rem;
  padding: 1%;
  border: 0.4rem solid rgb(255, 255, 255);
  color: rgb(255, 255, 255);
  font-size: 1.2rem;
  box-shadow: -0.9rem 0.9rem 8rem black;
}
.image_box img {
  width: 40rem;
  height: auto;
  border-radius: 2rem;
  border: 0.3vw solid rgb(255, 255, 255);
}

 section.mid{
  background-color: rgb(128, 128, 128);
  color: white;
  display: flex;
  justify-content: space-between;
  font-family: "Momo Trust Display";
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 2%;
  padding-top: 2%;
  gap: 3%;
  align-items: center;
 } 
.przycisk{
  display: flex;
  justify-content: center;
}
.przycisk a:hover {
  transition: transform 0.2s ease, color 0.2s ease;
  transform: scale(1.2);         
}

 button{
  font-size: 1rem;
  background-color: rgb(200, 255, 255);
  width: 12rem;
  height: 3rem;
  border-radius: 2rem;
  cursor: pointer;
 }
 footer{
  margin-top: 0%;
  background-color:none ;
 }

 #mountain_name{
  font-size: 1.8rem; 
  text-shadow: 0.3rem 0.3rem 0.5rem black;
 }

 .footer_div{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 5%;
  padding-right: 5%;
 }
 .footer_text_box{
  color: rgb(255, 255, 255);
  font-size: 2rem;
  font-family: "Momo Trust Display";
 }
 
  .footer_info{
  color: white;
  font-size: 1.2rem;
  font-family: "Arial";
 }

 footer a{
  text-decoration: none;
 }
 footer a:visited{
  color: rgb(255, 255, 255)
 }
 .quiz{
  color: white;
  background-color: rgb(128, 128, 128);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5%;
 }

 .quiz_box{
  display: flex;
  text-align: center;
  flex-direction: column;
  align-items: center;
  background-color: rgb(105, 103, 107);
  width: 45rem;
  border-radius: 4.5rem;
  padding: 2%;
  border: 0.3rem solid rgb(255, 255, 255);
 }
  .quizbutton{
  font-size: 1rem;
  font-weight: bold;
  background-color: rgb(200, 255, 255);
  width: 12rem;
  height: 3rem;
  border-radius: 2rem;
  cursor: pointer;
  transition: transform 0.2s ease, color 0.2s ease;
  margin: 2%;
 }

 .quizbutton:hover {
  transform: scale(1.2);         
}


 .hidden {
  display: none;
}
 
#top_link{
  color: rgb(255, 255, 255);
}

.footer_info a{
  color: white;
}
/* Galeria */

.gallery_back{
  background-color: rgb(128, 128, 128);
  padding: 1%;
}
.gallery_box{
  background-color: rgb(128, 128, 128);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 2%;
  gap: 2%;
  color: rgb(255, 255, 255);
  /* font-weight: bold; */
  font-family: "M PLUS Rounded 1c";
}

.image_background{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(105, 103, 107);
  width: 30rem;
  height: 45rem;
  border-radius: 4rem;
  padding: 2%;
  margin-bottom: 2%;
  border: 0.3rem solid rgb(255, 255, 255);
}
.image_box_gallery{
  width: 30rem;
  height: 38rem;
  border-radius:2rem ;
  overflow: hidden;
}
.image_box_gallery img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}
.image_description{
  text-align: center;
  width: 27rem;
  height: 14rem;
  font-size: 1.2rem;
}
.video_background{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(105, 103, 107);
  width: 35rem;
  height: 35rem;
  border-radius: 4rem;
  padding: 2%;
  margin-bottom: 2%;
  border: 0.3rem solid rgb(255, 255, 255);
}

.video_box{
  background-color: black;
  width: 35rem;
  height: 35rem;
  border-radius:2rem ;
  overflow: hidden;
  position: relative;
}

.video_box iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: none;
}
.video_description{
  font-size: 1.2rem;
  text-align: center;
  font-family: "M PLUS Rounded 1c";
}

/* KONTAKT */
.kontakt_back{
  background-color: rgb(128, 128, 128);
}
.kontakt_box{
  background-color:rgb(128, 128, 128);
}
#kontakt_header{
  padding-top: 2%;
  margin-top: 0;
  margin-bottom: 0;
  color: white;
  font-size: 4rem;
  text-align: center;
  font-weight: bold;
  font-family: 'Segoe UI';
}
.kontakt_data{
  display: flex;
  flex: row;
  padding: 2%;
  justify-content: center;
  gap: 8%;
  align-items: center;
  /* background-color: rgb(128, 128, 128); */
}

.data_box{
  display: flex;
  flex-direction: column;
  color: white;
  font-size: 2rem;
  font-weight: bold;
  background-color: rgb(105, 103, 107);
  padding: 1.5%;
  padding-right: 3%;
  padding-left: 3%;
  border-radius: 5rem;
  border: 0.3rem solid white;
  font-family: "M PLUS Rounded 1c"; 
}

#kontakt_text{
  text-shadow: 0.2rem 0.2rem 1rem black;
  font-family: "Momo Trust Display";
}


#kontakt_button :visited{
  text-decoration: none;
  color: black;
}

#kontakt_button a{
  color: black;
  text-decoration: none;
}

.kontakt_button {
  display: flex;
  justify-content: center;
}

.kontakt_button :hover{
  transform: scale(1.2);
  transition: transform 1s ease, color 0.2s ease;
}


form{
  display: flex;
  flex-direction: column;
  font-family: 'Segoe UI';
}

#przeslij_button{
  background-color: rgb(200, 255, 255);
  width: 10rem;
  height: 2rem;
  border-radius: 1rem;
  font-weight: bold;
}

@media (max-width: 1200px) {

  nav {
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 1rem;
  }

  .nav_h1 {
    font-size: 2.5rem;
    margin-left: 0;
  }

  .nav_links {
    font-size: 1.5rem;
    gap: 1rem;
    margin-right: 0;
    flex-wrap: wrap;
    justify-content: center;
  }

  .top_data {
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 2rem;
  }

  #Korona_description {
    font-size: 2.5rem;
  }

  .text_box_left,
  .text_box_right {
    width: 90%;
    font-size: 1.2rem;
    box-shadow: 0.5rem 0.5rem 3rem black;
    border-width: 0.2rem;
  }

  .image_box img {
    width: 90%;
    max-width: 300px;
    height: auto;
  }

  section.mid {
    flex-direction: column;
    text-align: center;
    gap: 1.5rem;
  }

  button,
  .quizbutton {
    width: 90%;
    font-size: 1.2rem;
    height: 4rem;
  }


  .quiz_box {
    width: 90%;
    padding: 4%;
  }

  .image_background,
  .image_box_gallery,
  .video_background,
  .video_box {
    width: 90%;
    height: auto;
  }

  .image_description,
  .video_description {
    width: 100%;
    font-size: 1rem;
  }

  .footer_div {
    flex-direction: column;
    text-align: center;
    gap: 1rem;
  }

  .footer_text_box {
    font-size: 2rem;
  }

  .footer_info {
    font-size: 1rem;
  }

  .kontakt_data {
    flex-direction: column;
    gap: 1.5rem;
  }

  .data_box {
    width: 90%;
    font-size: 1.5rem;
  }

  #kontakt_header {
    font-size: 3rem;
  }

  #mountain_name {
    font-size: 2rem;
  }
}
