body{
    display: flex;
    justify-content: center;
    align-items: center;
}
.generator_box{
    margin-top: 10vw;
    width: 15vw;
    height: 15vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
.generator_box form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}